#body1
{
  background-image:url("../images/backss.jpg");
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;

}

.er
{
  background-image:url("../images/tu.jpg");
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;

}


#container{
  display: block;
  margin: 450px auto;
}

#entradas{
  display: grid;
}
#identity{
  display: block;
  self-justify: center;
  height: 80px;
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  font-family: Helvetica;
  font-size: 30px;

}

#main_button{
  width: 500px;
  height: 80px;
  margin: 20px auto;
  padding: 20px;
  font-family: Helvetica;
  font-size: 30px;
    background-color: #ffae5e;
}

#parrafo{
  display: flex;
   flex-direction: column;
   font-size: 30px;
}
