#body1
{
  background-image:url("../images/backss.jpg");
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 background-repeat: no-repeat;

}

.er
{
  background-image:url("../images/tu.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}


#container{
  display: block;
  margin: 200px auto;
}

#entradas{
  margin-top:  200px;
  display: flex;
  flex-direction: column;
}

#identity{
  display: block;
  self-justify: center;
  height: 80px;
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  font-family: Helvetica;
  font-size: 30px;

}

#main_button{
  width: 500px;
  height: 80px;
  margin: 20px auto;
  padding: 20px;
  font-family: Helvetica;
  font-size: 30px;
    background-color: #ffae5e;
}

#parrafo{
  display: flex;
   flex-direction: column;
   font-size: 30px;
}

table,tr,th,td{
  border: 1px solid black;

}

#table{

  width: 300px;
  margin: 100px auto;
}

th,td,tr{
  text-align: center;
}

table{
  border-collapse: collapse;
}
tr:nth-child(even) {background-color: #f2f2f2;}
